{# Exibir mais recentes primeiro invertendo a lista #}
{% for message in chat_history|reverse %}
  {% if message.role == 'user' %}
    <div class="d-flex flex-row justify-content-end p-2">
      <div class="bg-primary text-white p-2 rounded" style="max-width: 80%;">
        {{ message.content }}
      </div>
    </div>
  {% else %} <div class="d-flex flex-row justify-content-start p-2">
      <div class="bg-light text-dark p-2 rounded" style="max-width: 80%;">
        {{ message.content | safe }}
      </div>
    </div>
  {% endif %}
{% endfor %}